<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banca Online UOC</title>
</head>
<body>

    <header>
        <h1>Banca Online UOC</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Carrito</a></li>
            </ul>
        </nav>
    </header>

    <section class="productos">
        <article>
            <img src="./assets/prestamos.png" alt="Producto 1">
            <h2>Préstamo inmediato</h2>
            <p>Descripción del producto 1.</p>
            <p class="precio">19.99 EUR</p>
            <button>Añadir al carrito</button>
        </article>

        <article>
            <img src="./assets/ahorro.png" alt="Producto 2">
            <h2>Cuenta de ahorro</h2>
            <p>Descripción del producto 2.</p>
            <p class="precio">29.99 EUR</p>
            <button>Añadir al carrito</button>
        </article>

        <article>
            <img src="./assets/hipoteca.jpg" alt="Producto 3">
            <h2>Solicita tu hipoteca</h2>
            <p>Descripción del producto 3.</p>
            <p class="precio">29.99 EUR</p>
            <button>Añadir al carrito</button>
        </article>

        <!-- Agrega más productos según sea necesario -->
    </section>

    <footer>
        <p>&copy; 2024 Banca Online UOC. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
